* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.containerPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 800px;
}

.containerTitle {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.containerTitle > h1 {
  font-size: 2.5rem;
}

.containerLoadingData {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.containerSelect {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.selectScrap {
  border-radius: 4px;
}

.buttonHome {
  height: 40px;
  padding: 0.5rem 1rem;
  background-color: #ff3a41;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonHome:hover {
  background-color: #dc3545;
  color: #f5f5f5;
  border: none;
  font-weight: 600;
}

.buttonReset {
  height: 40px;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #20ad00;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonReset:hover {
  color: #fff;
  background-color: #198754;
  border: none;
  font-weight: 600;
}

.searchContainer {
  width: 50%;
  max-width: 300px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border-radius: 5px;
  padding-right: 10px;
  column-gap: 5px;
  border: 1px #a5a5a5 solid;
}

.formControl {
  width: 95%;
  height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.formControl:focus {
  border: #20ad00 2px solid;
  outline: none;
  border-radius: 5px;
}

.containerIcon {
  width: 5%;
  display: flex;
  justify-content: center;
}

.containerIcon > img {
  width: 28px;
}

.containerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  width: 100%;
}

.containerDataScraping {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.containerProductScraping {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.containerProductScraping > p {
  margin-bottom: 1rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
  border: 1px #c2c2c2 solid;
  font-weight: 600;
}

.productDetailsHeaders {
  margin-bottom: 0.5rem;
}

.productDetailsHeaders > p {
  border: 1px #d5d5d5 solid;
  padding: 0 2rem 0 2rem;
}

.productDetails,
.productDetailsHeaders {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 80%;
  justify-items: center;
}

.noMaterialsContainer,
.containerLoadingDataPrincipal {
  display: flex;
  margin-top: 5rem;
}

.noMaterialsContainer > p,
.containerLoadingDataPrincipal > p {
  font-size: 2rem;
  font-weight: 600;
}

.separatorLine {
  width: 80%; /* Ancho de la línea al 70% */
  margin: 10px auto; /* Centra la línea y le da espacio arriba y abajo */
  border: 1px #d5d5d5 dashed;
}

/* ----------------------------------------------



.gridItem {
  margin-bottom: 30px;
}

.gridItem.noProveedor {
  width: 75%;
}

.gridItem > h3 {
  border: 1px black solid;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 

  column-gap: 10px;
}

.gridContainer.noProveedor {
  grid-template-columns: repeat(2, 1fr); 
}

.containerTitleColumn1,
.containerTitleColumn2,
.containerTitleColumn3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #d5d5d5 solid;
}

.containerTitleColumn1 > h3,
.containerTitleColumn2 > h3,
.containerTitleColumn3 > h3 {
  margin: 0;
  font-size: 1rem;
}

.containerTitleColumn1 {
  grid-column: 1 / 2;
}

.containerTitleColumn1Hidden {
  display: none; 
}

.containerTitleColumn2 {
  grid-column: 2 / 3;
}

.containerTitleColumn2Shifted {
  grid-column: 1 / 2; 
}

.containerTitleColumn3 {
  grid-column: 3 / 4;
}
.containerTitleColumn3Shifted {
  grid-column: 2 / 3; 
}

.supplierColumn {
  text-align: center;
}


.datesRow.noProveedor {
  grid-column: 1 / 2;
}

.supplierColumn {
  grid-column: 1 / 2;
}

.dateColumn {
  grid-column: 2 / 3; 
}

.dateColumn.noProveedor {
  grid-column: 1 / 2; 
}

.priceColumn {
  grid-column: 3 / 4; 
}

.priceColumn.noProveedor {
  grid-column: 2 / 3; 
}

.datesRow {
  
  font-weight: normal; 
}

.proveedor {
  grid-column: 1 / -1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dateColumn,
.priceColumn,
.supplierColumn {
  text-align: center;
}



h3 {
  text-align: center;
  margin-bottom: 10px;
}

.containerNoSelection {
  display: flex;
  justify-content: center;
}

.containerNoSelection > p {
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: 8rem;
}

*/
