* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.containerHome {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerTitle {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.containerTitle > h1 {
  font-size: 2.5rem;
}

.containerAnchor {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 80%;
}

.anchor {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}

.anchor p:nth-child(2) {
  width: 150px;
  text-align: start;
}

.buttonScrapping {
  height: 40px;
  width: 150px;
  padding: 0.5rem;
  background-color: #0975da;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.buttonScrapping:hover {
  background-color: #044386;
  color: #f5f5f5;
  border: none;
  font-weight: 600;
}

.buttonData {
  height: 40px;
  padding: 0.5rem;
  width: 150px;
  background-color: #13a00fd3;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonData:hover {
  background-color: #06610a;
  color: #f5f5f5;
  border: none;
  font-weight: 600;
}

.buttonGraphic {
  height: 40px;
  padding: 0.5rem;
  width: 150px;
  background-color: #df561f;
  color: #f5f5f5;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonGraphic:hover {
  background-color: #882b06;
  color: #f5f5f5;
  border: none;
  font-weight: 600;
}
